@import "compass";

// added mixins
@import "sprites";

$main-color: #2b2b2b;  /* GRAFIT _dark*/
$main-bg: #18191b;	/* GRAFIT */
$brand-bg: #ef8f05; /* POMARAŃCZOWY */
$gray-one: #333; /* szary */
$gray-two: #dedede; /* szary */
$footer: #737373; 
body {
	font-family: "Open Sans", sans-serif;
	color: $main-color;
}
.inblock {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.valign {
	vertical-align: middle;
}
.transit {
	@include transition-property(all);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in-out);
}
.free-space {
	margin-bottom: 20px;
}
#page-content {
	background-color: #f4f4f4;
	padding-top: 20px;
	padding-bottom: 20px;
	border:1px solid $gray-two;
	margin-bottom: 20px;
	a {
		font-weight: 400;
	}
}
/* top nav */
.navbar-default {
	border-color: $brand-bg;
	li {
		&:hover > a{
			background: $brand-bg !important;
			color: #fff !important;
		}
	a {
		color: $main-color !important;
		font-weight: 400;
	}
		
	}

	.login-link {
		display: block;
		font-size:80%;
		line-height: 1.2;
		margin: 5px 0 0 0;
		text-align: right;
	}
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background: $brand-bg;
	color: #fff !important;
}
.wronba_logo {
	height: 263px;
}

.main-navigation {
	position: relative;
	z-index: 500;
}
.sticky-wrapper {
	&.is-sticky {
		.main-navigation {
			width: 100%;
			top: 0;
			left: 0;
			border-radius: 0;
			border-left: 0;
			border-top: 0;
			border-right: 0;
		}
	}
}
/* form login */
#formLogin {
	width: 200px;
}
.dropdown.open {
	li a {
		background: $brand-bg;
		color: #fff !important;
	}
}

/* Tab Navigation */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:focus {
	background-color: transparent;
	color: #FFF;
	border-left:1px solid $brand-bg;
	border-top:1px solid $brand-bg;
	border-right:1px solid $brand-bg;
}
.nav-tabs {
	margin: 0 0 -1px 0;
	li {
		margin: 0 10px;
		background-color: $brand-bg;
		border-radius: 5px 5px 0 0;
		&.active,
		&:hover,
		&:focus,
		&:active {
			background-color: $main-bg;
			a {
				background-color: $main-bg;
				color: #FFF;
				border-radius: 5px 5px 0 0;
				border-left:1px solid $brand-bg;
				border-top:1px solid $brand-bg;
				border-right:1px solid $brand-bg;
			}
		}
		a {
			background-color: transparent;
			color: #FFF;
			padding: 10px 30px;
			margin: 0;
			border-radius: 0;
			&.active,
			&:hover,
			&:focus,
			&:active {
				background-color: $main-bg;
				outline: none;
			}
		}
	}
}
#aktualnosci {
	h4 {
		color: $brand-bg;
	}
}
/* Tab Content */
.tab-content {
	background-color: $main-bg;
	color: #fff;
	&.dark_text {
		color: $main-color;
		h4 {
			color: #FFF;
		}
	}
	img {
		min-height: auto;
		max-height: 100%;
	}
	h3 {
		color: $brand-bg;
		margin: 30px 0;
	}
	.tab-pane {
		padding: 0 0 20px 0;
	}
	.main-article {
		margin: 0 10px;
		figure {
			img {
				display: block;
				margin: 0 auto;

			}
		}
		.main-article-content {
			padding: 14px 0;
		}

	}
	.sub-article {
		margin: 10px;
		figure {
			height: 165px;
		}
		.sub-article-date {
			color: $footer;
		}
	}

}
/* TABELE  */
.table-wronba {
	overflow: hidden;
	background: #FFF;
	color: $main-color;
	@include border-top-radius(8px);
	thead {
		tr {
			th {
				border-bottom: 2px solid $main-color;
				background: $brand-bg;
				color: #FFF;
			}
		}
	}
	tbody {
		tr {
			td {
				border-top: 0;
				border-bottom: 1px solid $main-color;
			}
		}
	}
}
.table-white-bg {	
	thead {
		tr {
			th {
				border-bottom: 1px solid #f4f4f4;
				vertical-align: middle;
				padding: 3px;
				font-size: 11px;
				text-align: center;
			}
		}
	}
	tbody {
		tr {
			td {
				border-top: 0;
				border-bottom: 1px solid #f4f4f4;
				text-align: center;
				padding: 5px 3px;
				font-size: 12px;
			}
			&:first-child {
				border-top: 2px solid $main-color
			}
		}
	}
}
.table-wronba.table-white-bg.ui-responsive tbody tr {
	border-bottom: 2px solid #f4f4f4;
}
/* wyłaczenie tego strasznego shadowa z ui + ndpisane style UI mobile*/
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
	text-shadow: none;
}
.ui-table-reflow td .ui-table-cell-label, 
.ui-table-reflow th .ui-table-cell-label {
	background: $brand-bg;
	margin: 0 3% 0 0;
	color: #FFF;
	font-weight: 400;
}

.table-wronba.ui-responsive tbody tr {
	border-bottom: 2px solid $main-color;
}

button.ui-btn,
.ui-controlgroup-controls button.ui-btn-icon-notext {
    width: auto;
}


/* TEXT BLOCKS */
.text-content {
	padding: 10px 0;
}
.in-text-img {
	margin:0 15px 10px 0;
}
.center-block {
	margin: 10px auto;
}

/* calendar widget carousel */
.widget-calendar-carousel {
	margin: 15px 5%;
	.panel-primary {
		border-color: $brand-bg;
		margin: 0px;
		.panel-heading {
			background: none;
			padding: 5px;
			text-align: center;
			border:0;
			color: $gray-one;
			font-size: 13px;
			font-weight: 700;
		}
		.panel-body {
			padding: 0 5px;
			.table-condensed {
				margin: 0px;
				font-size: 12px;
			}
		}
		.panel-footer {
			background-color: $brand-bg;
			color: #FFF;
			font-weight: 700;
			text-align: center;
			padding: 0 1%;
		}
	}
	.slick-prev, .slick-next {
		height: 110px;
		margin-top: -55px;
		padding: 0 5px;
		width: auto;
		&:before {
			color: $brand-bg;
			font-size: 44px;
		}
	}
	.slick-prev {
    	left: -4%;
	}
	.slick-next {
		right: -4%;
	}

}


/* panele */
.panel-primary.main-header {
	border-color: $gray-two;
	.panel-heading {
		position: relative;
		padding: 10px 35px;
		background-color: #FFF;
		border-color: inherit;
		color: $main-color;
		font-weight: 700;
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			background-color: $brand-bg;
			width: 15px;
			height:100%;
			content:"";
			border-radius: 3px 0 0 0;
		}
	}
	img {
		margin: 0 auto;
	}
	.small-ball {
		position: absolute;
		right: 3%;
		top:50%;
		margin-top: -12px;

	}
}
/* panele pomaranczowe - standardowo */
.panel-primary.wronba-panel {
	border-color: $brand-bg;
	> .panel-heading {
		background-color: $brand-bg;
		border-color: $brand-bg;
	}
}
.panel-primary.live-score {
		.panel-body {
			text-align: center;
		}
		h2,h5 {
			font-weight: 700;
		}
		.vs {
			font-size: 3em;
			margin-top: 50px;
			display: inline-block;
			*display: inline;
			*zoom: 1;
		}
	}



/* icon block */

.icon-block {
	padding: 20px 0;
	.ico-item {
		text-align: center;
	}
	.figure {
		height: 210px;
		line-height: 210px;
		display: block;
		span {
			vertical-align: middle;
		}
	}
	h1 {
		font-size: 24px;
	}
	a {
		color:$main-color;
		&:hover,&:active,&:focus {
			text-decoration: none;
		}
	}
}
/* sponsors */

#sponsors {
	border:1px solid $gray-two;
	text-align:center;
	background: #FFF;
	h1 {
		margin: 10px 0;
		line-height: 1;
	}
}

/* footer */
#page-footer {
	background-color: $main-bg;
	color: $footer;
	border-bottom: 20px solid $brand-bg;
	h2 {
		font-size:24px;
		border-bottom: 1px solid $footer;
		padding: 0 0 6px 0;
	}
	ul {
		margin: 20px 0;
		padding: 0 0 0 60px;
		list-style: none;
		li {
			position: relative;
			margin: 15px 0;
			span.ico {
				position: absolute;
				left: -50px;
				top: 50%;
				margin-top: -12px;
			}
			a {
				color: $footer;
			}
		}
	}
	.center-me {
		float: none;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		vertical-align: top;
	}
	.footer-article {
		max-width: 150px;
	}

}
/* gallery */
.gallery-item {
	margin: 0 0 20px 0;
}
/* calendar - WIDGET */
.custom-month-year {
	nav {
		float: right;
		> span {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			vertical-align: middle;
			font-size: 32px;
			cursor: pointer;
			&:hover {
				color: #999;
			}
			margin: 0 10px;
		}

	}
}
.fc-calendar-container {
	.fc-head {
		> div {
			font-size: 16px;
			line-height: 1.4;
			padding:5px 0;

		}
	}
	.fc-body {
		border-bottom: 1px solid $gray-two;
		.fc-row {
			> div {
				border-right: 1px solid $gray-two;
			    border-top: 1px solid $gray-two;
			    height: 150px;
				&:first-child  {
					border-left: 1px solid $gray-two;
				}
				&.fc-today {
					.fc-date {
						background: #fff;
						border: 4px solid $brand-bg;
					}
				}
			}
			.fc-date {
				@extend .transit;
				background: #eaeaea;
			    position: absolute;
			    display: block;
				margin: 0;
			    padding: 0 0 0 15px;
			    width: 100%;
			    height: 100%;
			    border: 4px solid #fff;
			    box-sizing: border-box;
			    color: $gray-one;
			    font-size: 38px;
			    font-weight: 700;
			    &:hover {
			    	background: #fff;
			    }

			}
			.fc-weekday {
				display: none;
			}
		}
	}
}
.fc-four-rows {
		.fc-row  {
		    height: 25%;
		}
	} 
 
.fc-five-rows {
	.fc-row  {
	    height: 20%;
	}
}
 
.fc-six-rows {
	.fc-row {
	    height: 16.66%;
	    height: -moz-calc(100%/6);
	    height: -webkit-calc(100%/6);
	    height: calc(100%/6);
	}
}
 
.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
    /* float: left; */
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    height: 100%;
    width:  14.28%; /* 100% / 7 */
    width: -moz-calc(100%/7);
    width: -webkit-calc(100%/7);
    width: calc(100%/7);
    position: relative;
}
/* AGENDA BLOCK */

.agenda-block {
	.panel {
		.panel-heading {
			.time-box {
				color: $footer;
			}
			.or-ange {
				color: $brand-bg;				
			}
		}
	}
}

/* aktualnosci - news */
.news-article {
	border-top: 1px solid $brand-bg;
	margin: 10px 0;
	padding: 15px;
	&:first-child {
		border-top: none;
	}
	h4 {
		font-weight: 700;
	}
	.news-article-content {
		max-height: 100px;
		overflow: hidden;
	}
	
}
/* image overlay header */
.section-title {
	height: 300px;
	overflow: hidden;
	position: relative;
	&.img-news {
		background: url('../images/header_img.jpg') no-repeat center 20%;
		background-size: cover;
	}
	h1 {
		color: #FFF;
		font-weight: 700;
		margin: 140px 0 0 0;
		z-index: 10;
		position: relative;
		text-shadow: 1px 1px 0 $brand-bg;
	}

}
.overlay-bg {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	z-index:5;
}


/* aktualnosc - news  rozwiniecie */

#page-content.news-article-more {
	position: relative;
	top: -100px;
	border-top: 3px solid $brand-bg;
	figure {
		margin:10px 0;
		max-height: 300px;
		overflow: hidden;
	}
}
/* Mecz LIVE */
#page-content.orange-top-block {
	border-top: 3px solid #ef8f05;
    position: relative;
    top: -100px;
    .ico.live {
		max-height: 30px;
    }
}
/* Mecz live statystyki */
.team-stats-block {
	margin: 40px 0 10px;
	&:first-child {
		margin: 0 0 10px 0;
	}
	.stat-header {
		.team-name {
			display: inline-block;
			*display: inline;
			*zoom: 1;
		}
	}
	.team-logo-small {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		height: 60px;
	}
}


/* profil zawodnika */
#page-content.player-profile {
	position: relative;
	top: -100px;
	border-top: 3px solid $brand-bg;
	.table-wronba tbody tr td {
	    border-bottom: 1px solid #DDD;
	    vertical-align: middle;
	}
}
/* brackets-block */
#page-content.brackets-block {
	position: relative;
	top: -100px;
	border-top: 3px solid $brand-bg;
	.team {
		border-right: 1px solid $brand-bg;
		border-bottom: 1px solid $brand-bg;
		&.pull-right {
			border-right: 0;
			border-left: 1px solid $brand-bg;
		}
	}

}

/* list-block */
#page-content.list-block {
	position: relative;
	top: -100px;
	border-top: 3px solid $brand-bg;
	.list-header {
		padding: 0 0 0 20px;
		font-size: 32px;
		border-bottom: 2px solid #CCC;
	}
	ul {
		list-style: none;
		padding: 20px;
		li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			width: 24%;
			margin: 5px 0;

		}
	}
	.avatar-block {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		overflow: hidden;
		vertical-align: middle;
		margin: 0 15px 0 0;
	}
}

/* cover slider */
body > header,
body .ui-page > header {
	position: relative;
	z-index: 20;
}
body > section ,
body > footer,
body .ui-page > section ,
body .ui-page > footer {
	position: relative;
	z-index: 10;
}

/* /cover slider */

@media screen and (max-width: 1199px) {

	.navbar-nav {
		margin-left: -20px;
		margin-right: -20px;
		> li > a {
			padding: 14px 13px;
			font-size: 13px;
		}
	}
	/* calendar widget */
	.fc-calendar-container {
		.fc-head {
			> div {
				font-size: 14px;
				line-height: 1.4;
				padding:5px 0;

			}
		}
		.fc-body {
			.fc-row {
				> div {
					border-right: 1px solid $gray-two;
				    border-top: 1px solid $gray-two;
				    height: 120px;
				}
			}
		}
	}
}
@media screen and (max-width: 992px) {
	.navbar-nav > li > a {
		padding: 14px 9px;
		font-size: 11px;
	}
	/* calendar widget */
	.fc-calendar-container {
		.fc-head {
			> div {
				font-size: 13px;
				line-height: 1.4;
				padding:5px 0;
				.fc-date {
					padding: 0 0 0 3px;
				}

			}
		}
		.fc-body {
			.fc-row {
				> div {
					border-right: 1px solid $gray-two;
				    border-top: 1px solid $gray-two;
				    height: 100px;
				}
			}
		}
	}
	/* list-block */
	#page-content.list-block {
		ul {
			li {
				width: 32%;
			}
		}
		.avatar-block {
		}
	}
}
@media screen and (max-width: 768px) {
	.navbar-nav {
		margin-left: 0;
		margin-right: 0;
	}
	/* calendar widget */
	.fc-calendar-container {
		.fc-head {
			display: none;
		}
		.fc-body {
			.fc-row {
				height: auto;
				> div {
					display: block;
					position: relative;
					height: auto;
					float: none;
					border:0;
					width: auto;
					border-bottom: 1px solid $brand-bg;
					&:first-child  {
						border-left: 0;
					}
					&.fc-today {

						background: #FFF;
						.fc-date, .fc-weekday {
							border-color: transparent;
							color: $brand-bg;
						}
					}
				    > span {
						display: inline-block;
						*display: inline;
						*zoom: 1;
						position: relative !important;
						top:0;
						left:0;
						width: auto;
				    }

				}
				.fc-date {
					display: inline-block;
					*display: inline;
					*zoom: 1;
					border:0;
					background: transparent;
					width: auto;
					padding: 0 4px;
				}
				.fc-weekday {
					display: inline-block;
					*display: inline;
					*zoom: 1;
					width: auto;
				}
			}
		}
	}
	/* list-block */
	#page-content.list-block {
		ul {
			li {
				width: 49%;
			}
		}
		.avatar-block {
		}
	}
}
@media screen and (max-width: 559px) {
	.table-wronba {
		> thead > tr > th, 
		> thead > tr > td,
		> tbody > tr > th,
		> tbody > tr > td,
		> tfoot > tr > th,
		> tfoot > tr > td {
			padding: 0;
		}
	}
	.table-white-bg {	
		&.ui-table-reflow td {
			text-align: left;
			font-size: 14px;
		}
	}
}
@media screen and (max-width: 500px) {
	.nav-tabs {
		li {
			margin: 0 2px 0 0;
			a {
				padding: 8px 10px;
				font-size: 12px;
			}
		}
	}
	.gallery-block {
		.gallery-item {
			width: 50%;
		}
	}
	/* list-block */
	#page-content.list-block {
		ul {
			li {
				width: 100%;
				margin-left:20px;
			}
		}
		.avatar-block {
		}
	}
}