@charset "UTF-8";
/* SPRITE CLASS GENERATOR :) */
.ico {
  background: url('../images/icons-se11b9e0549.png');
  margin: 0 4px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.ball {
  background-position: 0 0;
  height: 128px;
  width: 128px;
}

.biuro {
  background-position: 0 -128px;
  height: 153px;
  width: 189px;
}

.dzierzoniow {
  background-position: 0 -281px;
  height: 134px;
  width: 208px;
}

.small-ball {
  background-position: 0 -415px;
  height: 25px;
  width: 25px;
}

.sponsoring {
  background-position: 0 -440px;
  height: 201px;
  width: 182px;
}

.zebrano {
  background-position: 0 -641px;
  height: 138px;
  width: 218px;
}

.zgloszenie {
  background-position: 0 -779px;
  height: 189px;
  width: 177px;
}

/* SPRITE CLASS GENERATOR - END :) */
/* GRAFIT _dark*/
/* GRAFIT */
/* POMARA┼âCZOWY */
/* szary */
/* szary */
body {
  font-family: "Open Sans", sans-serif;
  color: #2b2b2b;
}

.inblock {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.valign {
  vertical-align: middle;
}

.transit, .fc-calendar-container .fc-body .fc-row .fc-date {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.free-space {
  margin-bottom: 20px;
}

#page-content {
  background-color: #f4f4f4;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
}
#page-content a {
  font-weight: 400;
}

/* top nav */
.navbar-default {
  border-color: #ef8f05;
}
.navbar-default li:hover > a {
  background: #ef8f05 !important;
  color: #fff !important;
}
.navbar-default li a {
  color: #2b2b2b !important;
  font-weight: 400;
}
.navbar-default .login-link {
  display: block;
  font-size: 80%;
  line-height: 1.2;
  margin: 5px 0 0 0;
  text-align: right;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: #ef8f05;
  color: #fff !important;
}

.wronba_logo {
  height: 263px;
}

.main-navigation {
  position: relative;
  z-index: 500;
}

.sticky-wrapper.is-sticky .main-navigation {
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

/* form login */
#formLogin {
  width: 200px;
}

.dropdown.open li a {
  background: #ef8f05;
  color: #fff !important;
}

/* Tab Navigation */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
  color: #FFF;
  border-left: 1px solid #ef8f05;
  border-top: 1px solid #ef8f05;
  border-right: 1px solid #ef8f05;
}

.nav-tabs {
  margin: 0 0 -1px 0;
}
.nav-tabs li {
  margin: 0 10px;
  background-color: #ef8f05;
  border-radius: 5px 5px 0 0;
}
.nav-tabs li.active, .nav-tabs li:hover, .nav-tabs li:focus, .nav-tabs li:active {
  background-color: #18191b;
}
.nav-tabs li.active a, .nav-tabs li:hover a, .nav-tabs li:focus a, .nav-tabs li:active a {
  background-color: #18191b;
  color: #FFF;
  border-radius: 5px 5px 0 0;
  border-left: 1px solid #ef8f05;
  border-top: 1px solid #ef8f05;
  border-right: 1px solid #ef8f05;
}
.nav-tabs li a {
  background-color: transparent;
  color: #FFF;
  padding: 10px 30px;
  margin: 0;
  border-radius: 0;
}
.nav-tabs li a.active, .nav-tabs li a:hover, .nav-tabs li a:focus, .nav-tabs li a:active {
  background-color: #18191b;
  outline: none;
}

#aktualnosci h4 {
  color: #ef8f05;
}

/* Tab Content */
.tab-content {
  background-color: #18191b;
  color: #fff;
}
.tab-content.dark_text {
  color: #2b2b2b;
}
.tab-content.dark_text h4 {
  color: #FFF;
}
.tab-content img {
  min-height: auto;
  max-height: 100%;
}
.tab-content h3 {
  color: #ef8f05;
  margin: 30px 0;
}
.tab-content .tab-pane {
  padding: 0 0 20px 0;
}
.tab-content .main-article {
  margin: 0 10px;
}
.tab-content .main-article figure img {
  display: block;
  margin: 0 auto;
}
.tab-content .main-article .main-article-content {
  padding: 14px 0;
}
.tab-content .sub-article {
  margin: 10px;
}
.tab-content .sub-article figure {
  height: 165px;
}
.tab-content .sub-article .sub-article-date {
  color: #737373;
}

/* TABELE  */
.table-wronba {
  overflow: hidden;
  background: #FFF;
  color: #2b2b2b;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}
.table-wronba thead tr th {
  border-bottom: 2px solid #2b2b2b;
  background: #ef8f05;
  color: #FFF;
}
.table-wronba tbody tr td {
  border-top: 0;
  border-bottom: 1px solid #2b2b2b;
}

.table-white-bg thead tr th {
  border-bottom: 1px solid #f4f4f4;
  vertical-align: middle;
  padding: 3px;
  font-size: 11px;
  text-align: center;
}
.table-white-bg tbody tr td {
  border-top: 0;
  border-bottom: 1px solid #f4f4f4;
  text-align: center;
  padding: 5px 3px;
  font-size: 12px;
}
.table-white-bg tbody tr:first-child {
  border-top: 2px solid #2b2b2b;
}

.table-wronba.table-white-bg.ui-responsive tbody tr {
  border-bottom: 2px solid #f4f4f4;
}

/* wy┼éaczenie tego strasznego shadowa z ui + ndpisane style UI mobile*/
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none;
}

.ui-table-reflow td .ui-table-cell-label,
.ui-table-reflow th .ui-table-cell-label {
  background: #ef8f05;
  margin: 0 3% 0 0;
  color: #FFF;
  font-weight: 400;
}

.table-wronba.ui-responsive tbody tr {
  border-bottom: 2px solid #2b2b2b;
}

button.ui-btn,
.ui-controlgroup-controls button.ui-btn-icon-notext {
  width: auto;
}

/* TEXT BLOCKS */
.text-content {
  padding: 10px 0;
}

.in-text-img {
  margin: 0 15px 10px 0;
}

.center-block {
  margin: 10px auto;
}

/* calendar widget carousel */
.widget-calendar-carousel {
  margin: 15px 5%;
}
.widget-calendar-carousel .panel-primary {
  border-color: #ef8f05;
  margin: 0px;
}
.widget-calendar-carousel .panel-primary .panel-heading {
  background: none;
  padding: 5px;
  text-align: center;
  border: 0;
  color: #333;
  font-size: 13px;
  font-weight: 700;
}
.widget-calendar-carousel .panel-primary .panel-body {
  padding: 0 5px;
}
.widget-calendar-carousel .panel-primary .panel-body .table-condensed {
  margin: 0px;
  font-size: 12px;
}
.widget-calendar-carousel .panel-primary .panel-footer {
  background-color: #ef8f05;
  color: #FFF;
  font-weight: 700;
  text-align: center;
  padding: 0 1%;
}
.widget-calendar-carousel .slick-prev, .widget-calendar-carousel .slick-next {
  height: 110px;
  margin-top: -55px;
  padding: 0 5px;
  width: auto;
}
.widget-calendar-carousel .slick-prev:before, .widget-calendar-carousel .slick-next:before {
  color: #ef8f05;
  font-size: 44px;
}
.widget-calendar-carousel .slick-prev {
  left: -4%;
}
.widget-calendar-carousel .slick-next {
  right: -4%;
}

/* panele */
.panel-primary.main-header {
  border-color: #dedede;
}
.panel-primary.main-header .panel-heading {
  position: relative;
  padding: 10px 35px;
  background-color: #FFF;
  border-color: inherit;
  color: #2b2b2b;
  font-weight: 700;
}
.panel-primary.main-header .panel-heading:after {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ef8f05;
  width: 15px;
  height: 100%;
  content: "";
  border-radius: 3px 0 0 0;
}
.panel-primary.main-header img {
  margin: 0 auto;
}
.panel-primary.main-header .small-ball {
  position: absolute;
  right: 3%;
  top: 50%;
  margin-top: -12px;
}

/* panele pomaranczowe - standardowo */
.panel-primary.wronba-panel {
  border-color: #ef8f05;
}
.panel-primary.wronba-panel > .panel-heading {
  background-color: #ef8f05;
  border-color: #ef8f05;
}

.panel-primary.live-score .panel-body {
  text-align: center;
}
.panel-primary.live-score h2, .panel-primary.live-score h5 {
  font-weight: 700;
}
.panel-primary.live-score .vs {
  font-size: 3em;
  margin-top: 50px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* icon block */
.icon-block {
  padding: 20px 0;
}
.icon-block .ico-item {
  text-align: center;
}
.icon-block .figure {
  height: 210px;
  line-height: 210px;
  display: block;
}
.icon-block .figure span {
  vertical-align: middle;
}
.icon-block h1 {
  font-size: 24px;
}
.icon-block a {
  color: #2b2b2b;
}
.icon-block a:hover, .icon-block a:active, .icon-block a:focus {
  text-decoration: none;
}

/* sponsors */
#sponsors {
  border: 1px solid #dedede;
  text-align: center;
  background: #FFF;
}
#sponsors h1 {
  margin: 10px 0;
  line-height: 1;
}

/* footer */
#page-footer {
  background-color: #18191b;
  color: #737373;
  border-bottom: 20px solid #ef8f05;
}
#page-footer h2 {
  font-size: 24px;
  border-bottom: 1px solid #737373;
  padding: 0 0 6px 0;
}
#page-footer ul {
  margin: 20px 0;
  padding: 0 0 0 60px;
  list-style: none;
}
#page-footer ul li {
  position: relative;
  margin: 15px 0;
}
#page-footer ul li span.ico {
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -12px;
}
#page-footer ul li a {
  color: #737373;
}
#page-footer .center-me {
  float: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
#page-footer .footer-article {
  max-width: 150px;
}

/* gallery */
.gallery-item {
  margin: 0 0 20px 0;
}

/* calendar - WIDGET */
.custom-month-year nav {
  float: right;
}
.custom-month-year nav > span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 32px;
  cursor: pointer;
  margin: 0 10px;
}
.custom-month-year nav > span:hover {
  color: #999;
}

.fc-calendar-container .fc-head > div {
  font-size: 16px;
  line-height: 1.4;
  padding: 5px 0;
}
.fc-calendar-container .fc-body {
  border-bottom: 1px solid #dedede;
}
.fc-calendar-container .fc-body .fc-row > div {
  border-right: 1px solid #dedede;
  border-top: 1px solid #dedede;
  height: 150px;
}
.fc-calendar-container .fc-body .fc-row > div:first-child {
  border-left: 1px solid #dedede;
}
.fc-calendar-container .fc-body .fc-row > div.fc-today .fc-date {
  background: #fff;
  border: 4px solid #ef8f05;
}
.fc-calendar-container .fc-body .fc-row .fc-date {
  background: #eaeaea;
  position: absolute;
  display: block;
  margin: 0;
  padding: 0 0 0 15px;
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  box-sizing: border-box;
  color: #333;
  font-size: 38px;
  font-weight: 700;
}
.fc-calendar-container .fc-body .fc-row .fc-date:hover {
  background: #fff;
}
.fc-calendar-container .fc-body .fc-row .fc-weekday {
  display: none;
}

.fc-four-rows .fc-row {
  height: 25%;
}

.fc-five-rows .fc-row {
  height: 20%;
}

.fc-six-rows .fc-row {
  height: 16.66%;
  height: -moz-calc(100%/6);
  height: -webkit-calc(100%/6);
  height: calc(100%/6);
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
  /* float: left; */
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  height: 100%;
  width: 14.28%;
  /* 100% / 7 */
  width: -moz-calc(100%/7);
  width: -webkit-calc(100%/7);
  width: calc(100%/7);
  position: relative;
}

/* AGENDA BLOCK */
.agenda-block .panel .panel-heading .time-box {
  color: #737373;
}
.agenda-block .panel .panel-heading .or-ange {
  color: #ef8f05;
}

/* aktualnosci - news */
.news-article {
  border-top: 1px solid #ef8f05;
  margin: 10px 0;
  padding: 15px;
}
.news-article:first-child {
  border-top: none;
}
.news-article h4 {
  font-weight: 700;
}
.news-article .news-article-content {
  max-height: 100px;
  overflow: hidden;
}

/* image overlay header */
.section-title {
  height: 300px;
  overflow: hidden;
  position: relative;
}
.section-title.img-news {
  background: url("../images/header_img.jpg") no-repeat center 20%;
  background-size: cover;
}
.section-title h1 {
  color: #FFF;
  font-weight: 700;
  margin: 140px 0 0 0;
  z-index: 10;
  position: relative;
  text-shadow: 1px 1px 0 #ef8f05;
}

.overlay-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 5;
}

/* aktualnosc - news  rozwiniecie */
#page-content.news-article-more {
  position: relative;
  top: -100px;
  border-top: 3px solid #ef8f05;
}
#page-content.news-article-more figure {
  margin: 10px 0;
  max-height: 300px;
  overflow: hidden;
}

/* Mecz LIVE */
#page-content.orange-top-block {
  border-top: 3px solid #ef8f05;
  position: relative;
  top: -100px;
}
#page-content.orange-top-block .ico.live {
  max-height: 30px;
}

/* Mecz live statystyki */
.team-stats-block {
  margin: 40px 0 10px;
}
.team-stats-block:first-child {
  margin: 0 0 10px 0;
}
.team-stats-block .stat-header .team-name {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.team-stats-block .team-logo-small {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 60px;
}

/* profil zawodnika */
#page-content.player-profile {
  position: relative;
  top: -100px;
  border-top: 3px solid #ef8f05;
}
#page-content.player-profile .table-wronba tbody tr td {
  border-bottom: 1px solid #DDD;
  vertical-align: middle;
}

/* brackets-block */
#page-content.brackets-block {
  position: relative;
  top: -100px;
  border-top: 3px solid #ef8f05;
}
#page-content.brackets-block .team {
  border-right: 1px solid #ef8f05;
  border-bottom: 1px solid #ef8f05;
}
#page-content.brackets-block .team.pull-right {
  border-right: 0;
  border-left: 1px solid #ef8f05;
}

/* list-block */
#page-content.list-block {
  position: relative;
  top: -100px;
  border-top: 3px solid #ef8f05;
}
#page-content.list-block .list-header {
  padding: 0 0 0 20px;
  font-size: 32px;
  border-bottom: 2px solid #CCC;
}
#page-content.list-block ul {
  list-style: none;
  padding: 20px;
}
#page-content.list-block ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 24%;
  margin: 5px 0;
}
#page-content.list-block .avatar-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 15px 0 0;
}

/* cover slider */
body > header,
body .ui-page > header {
  position: relative;
  z-index: 20;
}

body > section,
body > footer,
body .ui-page > section,
body .ui-page > footer {
  position: relative;
  z-index: 10;
}

/* /cover slider */
@media screen and (max-width: 1199px) {
  .navbar-nav {
    margin-left: -20px;
    margin-right: -20px;
  }
  .navbar-nav > li > a {
    padding: 14px 13px;
    font-size: 13px;
  }

  /* calendar widget */
  .fc-calendar-container .fc-head > div {
    font-size: 14px;
    line-height: 1.4;
    padding: 5px 0;
  }
  .fc-calendar-container .fc-body .fc-row > div {
    border-right: 1px solid #dedede;
    border-top: 1px solid #dedede;
    height: 120px;
  }
}
@media screen and (max-width: 992px) {
  .navbar-nav > li > a {
    padding: 14px 9px;
    font-size: 11px;
  }

  /* calendar widget */
  .fc-calendar-container .fc-head > div {
    font-size: 13px;
    line-height: 1.4;
    padding: 5px 0;
  }
  .fc-calendar-container .fc-head > div .fc-date {
    padding: 0 0 0 3px;
  }
  .fc-calendar-container .fc-body .fc-row > div {
    border-right: 1px solid #dedede;
    border-top: 1px solid #dedede;
    height: 100px;
  }

  /* list-block */
  #page-content.list-block ul li {
    width: 32%;
  }
}
@media screen and (max-width: 768px) {
  .navbar-nav {
    margin-left: 0;
    margin-right: 0;
  }

  /* calendar widget */
  .fc-calendar-container .fc-head {
    display: none;
  }
  .fc-calendar-container .fc-body .fc-row {
    height: auto;
  }
  .fc-calendar-container .fc-body .fc-row > div {
    display: block;
    position: relative;
    height: auto;
    float: none;
    border: 0;
    width: auto;
    border-bottom: 1px solid #ef8f05;
  }
  .fc-calendar-container .fc-body .fc-row > div:first-child {
    border-left: 0;
  }
  .fc-calendar-container .fc-body .fc-row > div.fc-today {
    background: #FFF;
  }
  .fc-calendar-container .fc-body .fc-row > div.fc-today .fc-date, .fc-calendar-container .fc-body .fc-row > div.fc-today .fc-weekday {
    border-color: transparent;
    color: #ef8f05;
  }
  .fc-calendar-container .fc-body .fc-row > div > span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative !important;
    top: 0;
    left: 0;
    width: auto;
  }
  .fc-calendar-container .fc-body .fc-row .fc-date {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 0;
    background: transparent;
    width: auto;
    padding: 0 4px;
  }
  .fc-calendar-container .fc-body .fc-row .fc-weekday {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: auto;
  }

  /* list-block */
  #page-content.list-block ul li {
    width: 49%;
  }
}
@media screen and (max-width: 559px) {
  .table-wronba > thead > tr > th,
  .table-wronba > thead > tr > td,
  .table-wronba > tbody > tr > th,
  .table-wronba > tbody > tr > td,
  .table-wronba > tfoot > tr > th,
  .table-wronba > tfoot > tr > td {
    padding: 0;
  }

  .table-white-bg.ui-table-reflow td {
    text-align: left;
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .nav-tabs li {
    margin: 0 2px 0 0;
  }
  .nav-tabs li a {
    padding: 8px 10px;
    font-size: 12px;
  }

  .gallery-block .gallery-item {
    width: 50%;
  }

  /* list-block */
  #page-content.list-block ul li {
    width: 100%;
    margin-left: 20px;
  }
}
